.login {
	background-color: #f8f8f8;
	height: 100vh;
	width: 100vw;
	display: grid;
	place-items: center;
}

.login__container {
	padding: 100px;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px;
}

.login__text > button {
	margin-top: 10px;
	color: white;
	text-transform: inherit !important;
	background-color: blueviolet;
}
.login__text > button:hover {
	margin-top: 10px;
	color: white;
	text-transform: inherit !important;
	background-color: rgb(91, 0, 175);
}
